Repository SirJager/ankur-kumar.in: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm nx affected:lint --fix, pnpm nx format:write, prettier --write

chore: nothing
  src/styles.css
Due: pnpm nx affected:lint --fix, pnpm nx format:write, prettier --write

chore: husky
  .husky/commit-msg
  .husky/pre-commit
Due: none

feat: profile and latest updates section
  .prettierrc
  package.json
  pnpm-lock.yaml
  prettier.config.js
  src/components/ScrollWatcher.astro
  src/components/cards/TimelineCard.astro
  src/components/images/QwikImage.tsx
  src/components/navbar/Navbar.astro
  src/components/sections/LatestUpdates.astro
  src/components/sections/ProfileSection.astro
  src/components/sections/SectionHeading.astro
  src/layouts/Root.astro
  src/pages/index.astro
  src/styles.css
  tsconfig.json
Due: pnpm nx affected:lint --fix, pnpm nx format:write, prettier --write

style: card improvement
  src/components/cards/TimelineCard.astro
  src/pages/index.astro
Due: pnpm nx affected:lint --fix, pnpm nx format:write, prettier --write

chore: better eslint configs
  .eslintignore
  .eslintrc.cjs
  .lintstagedrc.json
  .prettierrc
  astro.config.mjs
  commitlint.config.cjs
  package.json
  pnpm-lock.yaml
  postcss.config.cjs
  src/components/Link.astro
  src/components/Logo.astro
  src/components/ScrollWatcher.astro
  src/components/ToggleTheme.tsx
  src/components/buttons/FillAniButton.astro
  src/components/cards/TimelineCard.astro
  src/components/images/QwikImage.tsx
  src/components/navbar/Hamburger.astro
  src/components/navbar/Navbar.astro
  src/components/sections/LatestUpdates.astro
  src/components/sections/ProfileSection.astro
  src/content/config.ts
  src/layouts/Head.astro
  src/layouts/Root.astro
  src/lib/themes.ts
  src/lib/utils/colors.ts
  src/lib/utils/dates.ts
  src/lib/utils/index.ts
  src/lib/utils/numbers.ts
  src/lib/utils/strings.ts
  src/pages/index.astro
  src/styles.css
  tailwind.config.mjs
  tsconfig.json
Due: pnpm nx affected:lint --fix, pnpm nx format:write, prettier --write

chore: minor changes
  .gitignore
  .obsidian/community-plugins.json
  .obsidian/plugins/OA-file-hider/data.json
  .obsidian/plugins/obsidian-banners/data.json
  .obsidian/plugins/obsidian-icon-folder/data.json
  .obsidian/plugins/obsidian-icon-folder/main.js
  .obsidian/plugins/obsidian-icon-folder/manifest.json
  .obsidian/plugins/obsidian-icon-folder/styles.css
  .obsidian/plugins/obsidian-style-settings/data.json
  .obsidian/plugins/recent-files-obsidian/data.json
  .obsidian/workspace.json
  .obsidian/workspaces.json
  .trash/FourthPost.md
  .trash/Home.md
  .trash/Second Post.md
  .trash/SecondPost.md
  .trash/ThirdPost.md
  .trash/alarm-clock.png
  .trash/weight.png
  blog/first-post.md
  blog/second-post.md
  package.json
  src/components/FeaturedImage.astro
  src/components/TableOfContent.tsx
  src/components/cards/PostCard.astro
  src/content/index.ts
  src/layouts/Article.astro
  src/pages/blog/[slug].astro
Due: pnpm nx affected:lint --fix, pnpm nx format:write, prettier --write

chore: updated footer
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/footer/Footer.astro
Due: pnpm nx affected:lint --fix, pnpm nx format:write, prettier --write

chore: updated prepare script to install playwright
  package.json
Due: prettier --write

chore: updated tsconfig
  tsconfig.json
Due: prettier --write

chore: funcs dir
  functions/.gitkeep
Due: none

chore: vercel deploy test
  astro.config.mjs
  package.json
  pnpm-lock.yaml
Due: pnpm nx affected:lint --fix, pnpm nx format:write, prettier --write

chore: removed mermaidjs, playwright
  astro.config.mjs
  package.json
Due: pnpm nx affected:lint --fix, pnpm nx format:write, prettier --write

chore: regenerated pnpm lock file
  pnpm-lock.yaml
Due: prettier --write

chore: removed unused lib/markdown.ts
  src/lib/markdown.ts
Due: pnpm nx affected:lint --fix, pnpm nx format:write, prettier --write

chore: changed var name to APP_URL
  astro.config.mjs
Due: pnpm nx affected:lint --fix, pnpm nx format:write

feat: vercel adapter
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/footer/Footer.astro
Due: pnpm nx affected:lint --fix, pnpm nx format:write, prettier --write

feat: pagefind search
  .envrc
  .eslintignore
  .gitignore
  .prettierignore
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  public/favicon.svg
  public/icons/16x16.png
  public/icons/192x192.png
  public/icons/32x32.png
  public/icons/512x512.png
  public/icons/apple-touch-icon.png
  public/icons/favicon.ico
  src/assets/itguy.svg
  src/components/PageFind.astro
  src/components/ToggleTheme.tsx
  src/components/buttons/FillAniButton.astro
  src/components/navbar/Navbar.astro
  src/components/sections/ProfileSection.astro
  src/components/sections/SectionHeading.astro
  src/content/.obsidian/workspace.json
  src/content/assets/banner.jpg
  src/env.d.ts
  src/layouts/Article.astro
  src/layouts/Head.astro
  src/layouts/Root.astro
  src/layouts/Scripts.astro
  src/lib/constants.ts
  src/lib/themes.ts
  src/pages/blog/[sitemap].xml.ts
  src/pages/index.astro
  src/pages/sitemap-index.xml.ts
  src/styles.css
Due: pnpm nx affected:lint --fix, pnpm nx format:write, prettier --write

feat: posts views counter
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/TableOfContent.tsx
  src/components/aside/AsideItems.astro
  src/components/aside/MostViewedPosts.astro
  src/components/footer/Footer.astro
  src/components/navbar/Navbar.astro
  src/components/sections/ProfileSection.astro
  src/components/stats/Category.astro
  src/components/stats/DatePublished.astro
  src/components/stats/Dot.astro
  src/components/stats/PostInfo.astro
  src/components/stats/ReadTime.astro
  src/components/stats/ViewsCounter.svelte
  src/layouts/Root.astro
  src/layouts/old.astro
  src/lib/couter.ts
  src/lib/redis.ts
  src/pages/api/views.ts
  src/pages/blog/[slug].astro
  src/pages/blog/index.astro
  src/pages/category/[category].astro
  src/pages/tags/[tag].astro
  svelte.config.js
  tailwind.config.mjs
Due: pnpm nx affected:lint --fix, pnpm nx format:write, prettier --write

perf: article layout improvements
  src/components/TableOfContent.astro
  src/components/TableOfContent.tsx
  src/components/aside/AsideItems.astro
  src/components/aside/MostViewedPosts.astro
  src/components/stats/Category.astro
  src/components/stats/ViewsCounter.svelte
  src/content/.obsidian/workspace.json
  src/content/blog/fourth-post.md
  src/content/blog/third-post.md
  src/layouts/Article.astro
  src/layouts/old.astro
  src/pages/blog/[slug].astro
  src/pages/categories/[category].astro
Due: pnpm nx affected:lint --fix, pnpm nx format:write, prettier --write

feat: comments using giscuss
  src/components/PostComments.astro
  src/components/footer/Footer.astro
  src/components/footer/FooterLinks.astro
  src/layouts/Article.astro
  src/styles.css
Due: pnpm nx affected:lint --fix, pnpm nx format:write, prettier --write

fix: removed .envrc and removed/updated all secrets
  .envrc
  .gitignore
Due: none

chore: removed unnecessary file
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/aside/MostViewedPosts.astro
  src/components/stats/ViewsCounter.svelte
  src/env.d.ts
  src/lib/redis.ts
  src/pages/api/views.ts
  src/pages/api/views/[path].ts
  src/pages/api/views/index.ts
Due: pnpm nx affected:lint --fix, pnpm nx format:write, prettier --write

chore: changed output to server
  astro.config.mjs
Due: pnpm nx affected:lint --fix, pnpm nx format:write

chore: updated
  astro.config.mjs
  package.json
  pnpm-lock.yaml
Due: pnpm nx affected:lint --fix, pnpm nx format:write, prettier --write

chore: removed funcs dir
  functions/.gitkeep
Due: none

chore: removed funcs dir
  astro.config.mjs
Due: pnpm nx affected:lint --fix, pnpm nx format:write

chore: updated
  astro.config.mjs
Due: pnpm nx affected:lint --fix, pnpm nx format:write

chore: updated
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: updated
  wrangler.toml
Due: none

chore: updated
  astro.config.mjs
  src/pages/blog/[sitemap].xml.ts
  src/pages/blog/[slug].astro
  src/pages/blog/index.astro
  src/pages/categories/[category].astro
  src/pages/index.astro
  src/pages/sitemap-index.xml.ts
  src/pages/tags/[tag].astro
Due: pnpm nx affected:lint --fix, pnpm nx format:write, prettier --write

Path conditions:
  pnpm nx affected:lint --fix: any of: ./**/*.{ts,tsx,js,jsx,cjs,mjs,html,css,astro}
  pnpm nx format:write: any of: ./**/*.{ts,tsx,js,jsx,cjs,mjs,html,css,astro}
  prettier --write: any of: ./**/*.{ts,tsx,js,jsx,svg,json,yaml,cjs,md,mdx,css,astro,html}
