Repository SirJager/ankur-kumar.in: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint --fix, pnpm prettier --write

.lintstagedrc.json:

{
	"./**/*.{ts,tsx,js,css,cjs,mjs,html,astro}": ["pnpm lint --fix"],
	"./**/*.{ts,tsx,js,css,svg,json,yaml,cjs,md,mdx,astro,html}": ["pnpm prettier --write"]
}

fix: added astro-sitemap integration
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/lib/constants.ts
  src/pages/about.astro
  src/pages/blog/[sitemap].xml.ts
  src/pages/categories/[sitemap].xml.ts
  src/pages/sitemap-index.xml.ts
  src/pages/tags/[sitemap].xml.ts
Due: pnpm lint --fix, pnpm prettier --write

chore: updated pdf filename, updated footer links
  public/pdfs/ankur-kumar-resume.pdf
  src/components/Footer/Footer.astro
Due: pnpm lint --fix, pnpm prettier --write

fix: typo in home page title
  src/pages/index.astro
Due: pnpm lint --fix, pnpm prettier --write

perf: some minor changes
  astro.config.mjs
  src/components/Article/Discussions.astro
  src/components/Footer/Footer.astro
  src/components/PageFind.astro
  src/components/ReadMore.astro
  src/components/Sections/LatestUpdates.astro
  src/components/Sections/ProfileSection.astro
  src/components/Sections/TechStack.astro
  src/layouts/Head.astro
  src/pages/blog/index.astro
Due: pnpm lint --fix, pnpm prettier --write

fix: changed text color in footer
  src/components/Footer/Footer.astro
Due: pnpm lint --fix, pnpm prettier --write

fix: noise filter not rendering properly in ios devices
  package.json
  pnpm-lock.yaml
  src/layouts/Root.astro
Due: pnpm lint --fix, pnpm prettier --write

perf: updated toggle theme component
  src/components/Footer/Footer.astro
  src/components/Logo.astro
  src/components/Navbar/Navbar.astro
  src/components/Sections/ProfileSection.astro
  src/components/ToggleTheme.tsx
  src/layouts/Head.astro
Due: pnpm lint --fix, pnpm prettier --write

feat: umami analytics
  src/layouts/Head.astro
Due: pnpm lint --fix, pnpm prettier --write

perf: removing vercel analytics and vercel speed insight
  astro.config.mjs
  src/layouts/Root.astro
  src/pages/blog/index.astro
  src/pages/categories/[category].astro
  src/pages/categories/index.astro
  src/pages/tags/[tag].astro
  src/pages/tags/index.astro
Due: pnpm lint --fix, pnpm prettier --write

chore: removed unwanted deps
  package.json
  pnpm-lock.yaml
Due: pnpm prettier --write

feat: article Structured Data JSON-LD
  src/components/Article/ArticleSchema.astro
  src/layouts/Root.astro
  src/lib/constants.ts
  src/pages/blog/[slug]/index.astro
Due: pnpm lint --fix, pnpm prettier --write

chore: removed logs statements
  src/components/Article/Discussions.astro
  src/layouts/Head.astro
Due: pnpm lint --fix, pnpm prettier --write

chore: analytics only for live domain
  src/layouts/Head.astro
  src/pages/blog/[slug]/og.png.ts
Due: pnpm lint --fix, pnpm prettier --write

feat: event tracking using umami
  .obsidian/workspace.json
  src/components/Footer/Footer.astro
  src/components/Sections/ProfileSection.astro
Due: pnpm lint --fix, pnpm prettier --write

feat: astro-compressor
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/layouts/Head.astro
  src/lib/themes.ts
Due: pnpm lint --fix, pnpm prettier --write

feat: bottom navbar, pagefind fix, astro-icons, rss improvements etc
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  public/styles/rss.xsl
  src/components/Article/Article.astro
  src/components/Article/ArticleSchema.astro
  src/components/Article/Discussions.astro
  src/components/Article/TableOfContentModal.astro
  src/components/Buttons/FillAnimated.astro
  src/components/Footer/Copyright.astro
  src/components/Footer/Copyright.tsx
  src/components/Footer/Footer.astro
  src/components/Footer/SocialIcons.astro
  src/components/Logo.astro
  src/components/Navbar/BottomNavbar.astro
  src/components/Navbar/Navbar.astro
  src/components/PageFind.astro
  src/components/ScrollToTop.astro
  src/components/Sections/ProfileSection.astro
  src/components/ThemeSwitcher.tsx
  src/content/blog/welcome-to-my-website.md
  src/layouts/Blog.astro
  src/layouts/BreadCrumbs.astro
  src/layouts/Head.astro
  src/layouts/Root.astro
  src/lib/constants.ts
  src/pages/about.astro
  src/pages/blog/[slug]/index.astro
  src/pages/blog/index.astro
  src/pages/rss.xml.ts
  src/styles/breadcrumbs.css
  src/styles/global.css
Due: pnpm lint --fix, pnpm prettier --write

chore: merging to master
  src/components/Navbar/BottomNavbar.astro
  src/content/blog/welcome-to-my-website.md
  src/pages/about.astro
Due: pnpm lint --fix, pnpm prettier --write

feat: tags below posts, pagefind meta and filters
  src/components/Article/Article.astro
  src/components/Article/Categories.astro
  src/components/Article/Category.astro
  src/components/Article/DatePublished.astro
  src/components/Article/ReadTime.astro
  src/components/Article/Tags.astro
  src/components/Article/ViewsCounter.svelte
  src/components/Blog/PostCard.astro
  src/components/PageFind.astro
  src/components/ScrollToTop.astro
  src/content/blog/welcome-to-my-website.md
  src/layouts/Blog.astro
  src/layouts/BreadCrumbs.astro
  src/layouts/Root.astro
  src/lib/utils/dates.ts
  src/styles/breadcrumbs.css
  src/styles/pagefind.css
Due: pnpm lint --fix, pnpm prettier --write

chore: pnpn-lock regen
  pnpm-lock.yaml
Due: pnpm prettier --write

chore: removed test taxonomies
  src/content/blog/welcome-to-my-website.md
Due: pnpm prettier --write

chore: removed fonts
  astro.config.mjs
  src/assets/fonts/inter.ttf
  src/assets/fonts/raleway.ttf
  src/pages/blog/[slug]/og.png.ts
Due: pnpm lint --fix, pnpm prettier --write

chore: theme colors for manifest file
  astro.config.mjs
Due: pnpm lint --fix

chore: commenting about link as page not ready yet
  src/components/Navbar/BottomNavbar.astro
Due: pnpm lint --fix, pnpm prettier --write

chore: change prefferedDarkMode to preferred-darkmode, keeping all events consistent
  src/layouts/Head.astro
Due: pnpm lint --fix, pnpm prettier --write

chore: default dark theme
  src/lib/themes.ts
Due: pnpm lint --fix, pnpm prettier --write

chore: added seperate meta description for / and /blog
  src/layouts/Head.astro
  src/lib/constants/site.ts
  src/pages/blog/index.astro
Due: pnpm lint --fix, pnpm prettier --write

fix: tracking preferred theme modes
  src/layouts/Head.astro
Due: pnpm lint --fix, pnpm prettier --write

chore: removed relative date to absolute date
  src/components/Blog/PostCard.astro
Due: pnpm lint --fix, pnpm prettier --write

chore: updated readme and added few screenshots
  .frontmatter/database/mediaDb.json
  .obsidian/workspace.json
  README.md
  assets/blog-page.png
  assets/dark-light-mode.png
  assets/frontmatter-cms-2.png
  assets/frontmatter-cms.png
  assets/home.png
  assets/mobile-article.png
  assets/mobile-blog.png
  assets/mobile-home.png
  assets/mobile-search.png
  assets/mobile-share.png
  assets/mobile-toc.png
  assets/neovim-code-editor.png
  assets/neovim-markdown-editor.png
  assets/notion-like-banner.png
  assets/obsidian-as-cms.png
  assets/pagefind-search.png
  assets/recent-updates.png
  assets/rss-feed.png
  assets/table-of-content.png
  assets/techstach-section.png
  src/content/blog/welcome-to-my-website.md
Due: pnpm prettier --write

chore: added link to site
  README.md
Due: pnpm prettier --write

Update src/content/blog/asdasdasd
  src/content/blog/asdasdasd.mdx
Due: pnpm prettier --write

Delete src/content/blog/asdasdasd
  src/content/blog/asdasdasd.mdx
Due: pnpm prettier --write

Update src/content/blog/Lorem ipsum odor amet, consectetuer adipiscing elit.
  src/content/blog/Lorem ipsum odor amet, consectetuer adipiscing elit..mdx
Due: pnpm prettier --write

Update src/content/blog/lorem-ipsum-odor-amet-consectetuer-adipiscing-elit
  src/content/blog/lorem-ipsum-odor-amet-consectetuer-adipiscing-elit.mdx
Due: pnpm prettier --write

Update src/content/blog/test-post-1
  src/content/blog/test-post-1.mdx
Due: pnpm prettier --write

chore: linting and formatting
  astro.config.mjs
  src/assets/scripts/scramble.js
  src/components/Footer/LinksSection.astro
  src/components/Footer/data.ts
  src/content/config.ts
  src/layouts/Blog/PostCard.astro
  src/pages/api/og/index.ts
  src/pages/blog/[slug]/og.png.ts
Due: pnpm lint --fix, pnpm prettier --write
