Repository SirJager/ankur-kumar.in: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm nx affected:lint --fix, pnpm nx format:write, prettier --write

.lintstagedrc.json:

{
	"./**/*.{ts,tsx,js,jsx,css,cjs,mjs,html,css,astro}": [
		"pnpm nx affected:lint --fix",
		"pnpm nx format:write"
	],
	"./**/*.{ts,tsx,js,jsx,css,svg,json,yaml,cjs,md,mdx,css,astro,html}": [
		"prettier --write"
	]
}

feat: vercel
  astro.config.mjs
  package.json
  src/pages/blog/[sitemap].xml.ts
  src/pages/blog/[slug].astro
  src/pages/blog/index.astro
  src/pages/categories/[category].astro
  src/pages/index.astro
  src/pages/sitemap-index.xml.ts
  src/pages/tags/[tag].astro
Due: pnpm nx affected:lint --fix, pnpm nx format:write, prettier --write

Vercel (#4)
  astro.config.mjs
  functions/.gitkeep
  package.json
  pnpm-lock.yaml
  src/components/aside/MostViewedPosts.astro
  src/components/stats/ViewsCounter.svelte
  src/env.d.ts
  src/lib/redis.ts
  src/pages/api/views.ts
  src/pages/api/views/[path].ts
  src/pages/api/views/index.ts
  src/pages/blog/[sitemap].xml.ts
  src/pages/index.astro
Due: pnpm nx affected:lint --fix, pnpm nx format:write, prettier --write

chore: removed unrequired deps
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: static site url
  astro.config.mjs
Due: pnpm nx affected:lint --fix, pnpm nx format:write

chore: on hold
  package.json
  public/fonts/opensans.ttf
  public/fonts/raleway.ttf
  public/fonts/roboto-100.woff2
  public/fonts/roboto-300.woff2
  public/fonts/roboto-400.woff2
  public/fonts/roboto-500.woff2
  public/fonts/roboto-700.woff2
  public/fonts/roboto-900.woff2
  public/fonts/rock-salt.woff2
  src/components/sections/ProfileSection.astro
  src/layouts/Head.astro
  src/layouts/Root.astro
  src/styles.css
  tailwind.config.mjs
Due: pnpm nx affected:lint --fix, pnpm nx format:write, prettier --write

perf: blog layout and cards improvements
  package.json
  public/fonts/inter.ttf
  src/components/Link.astro
  src/components/Logo.astro
  src/components/PostComments.astro
  src/components/PostsGrid.astro
  src/components/ScrollToTop.astro
  src/components/ScrollWatcher.astro
  src/components/TableOfContent.astro
  src/components/ToggleTheme.tsx
  src/components/aside/AsideItems.astro
  src/components/aside/CardContainer.astro
  src/components/aside/FilterCloud.astro
  src/components/aside/MostViewedPosts.astro
  src/components/aside/bas.astro
  src/components/cards/ProfileImage.astro
  src/components/cards/SocialHandles.astro
  src/components/cards/TimelineCard.astro
  src/components/footer/Copyright.tsx
  src/components/footer/Footer.astro
  src/components/footer/FooterLinks.astro
  src/components/footer/SocialIcons.astro
  src/components/navbar/MinimalNav.astro
  src/components/navbar/NavTabs.astro
  src/components/navbar/Navbar.astro
  src/components/stats/Category.astro
  src/components/stats/PostInfo.astro
  src/content/blog/first-post.md
  src/content/blog/fourth-post.md
  src/content/blog/second-post.md
  src/content/blog/third-post.md
  src/layouts/Article.astro
  src/layouts/Head.astro
  src/layouts/Root.astro
  src/lib/themes.ts
  src/pages/api/views/[path].ts
  src/pages/api/views/index.ts
  src/pages/blog/index.astro
  src/styles.css
  tailwind.config.mjs
Due: pnpm nx affected:lint --fix, pnpm nx format:write, prettier --write

chore: format and linting
  .lintstagedrc.json
Due: prettier --write

chore: postbuild command to build pagefind
  package.json
  src/components/ToggleTheme.tsx
Due: pnpm nx affected:lint --fix, pnpm nx format:write, prettier --write

style: article layout improvements
  package.json
  src/components/aside/FilterCloud.astro
  src/layouts/Article.astro
  src/styles.css
Due: pnpm nx affected:lint --fix, pnpm nx format:write, prettier --write

chore: removed unwanted file
  src/components/FeaturedImage.astro
Due: pnpm nx affected:lint --fix, pnpm nx format:write, prettier --write

perf: added astro fonts
  package.json
  pnpm-lock.yaml
  src/components/aside/MostViewedPosts.astro
  src/components/stats/Category.astro
  src/components/stats/DatePublished.astro
  src/components/stats/ReadTime.astro
  src/components/stats/ViewsCounter.svelte
  src/layouts/Article.astro
  src/layouts/Head.astro
  src/layouts/Root.astro
  src/pages/api/views/[path].ts
  src/pages/api/views/index.ts
  tailwind.config.mjs
Due: pnpm nx affected:lint --fix, pnpm nx format:write, prettier --write

feat: added noise overlay, ogimages
  public/images/ogimage.png
  src/assets/illustrations/SirJager.png
  src/assets/illustrations/SirJager_edited.png
  src/assets/illustrations/ankur.png
  src/assets/illustrations/arrow-1.svg
  src/assets/illustrations/bolt.svg
  src/assets/illustrations/calendar.svg
  src/assets/illustrations/crown.svg
  src/assets/illustrations/eye.svg
  src/assets/illustrations/highfive.svg
  src/assets/illustrations/itguy.svg
  src/assets/illustrations/like.svg
  src/assets/illustrations/mail.svg
  src/assets/illustrations/search.png
  src/assets/illustrations/search.svg
  src/assets/illustrations/thunder.svg
  src/assets/ogimages/site_ogimage.png
  src/components/HeaderGraphic.astro
  src/components/Logo.astro
  src/components/NoiseFilter.astro
  src/components/navbar/Navbar.astro
  src/components/sections/ProfileSection.astro
  src/content/.obsidian/workspace.json
  src/layouts/Head.astro
  src/layouts/Root.astro
  src/lib/constants.ts
  src/pages/index.astro
  src/styles/noise.css
Due: pnpm nx affected:lint --fix, pnpm nx format:write, prettier --write

chore: updated favicon icons
  astro.config.mjs
  package.json
  public/fonts/inter.ttf
  public/fonts/raleway.ttf
  public/icons/android-chrome-192x192.png
  public/icons/android-chrome-512x512.png
  public/icons/apple-touch-icon.png
  public/icons/favicon-16x16.png
  public/icons/favicon-32x32.png
  public/icons/favicon.ico
  public/images/ogimage.png
  src/assets/ankur.png
  src/assets/sirjager.png
  src/components/Logo.astro
  src/lib/constants.ts
Due: pnpm nx affected:lint --fix, pnpm nx format:write, prettier --write

chore: removed nx
  .lintstagedrc.json
  .nx/commit-msg
  .nx/pre-commit
  nx.json
  package.json
Due: prettier --write

chore: updated env.d.ts
  src/env.d.ts
Due: pnpm nx affected:lint --fix, pnpm nx format:write, prettier --write

chore: pnpm-lock.yml
  pnpm-lock.yaml
Due: prettier --write

chore: no changes
  astro.config.mjs
Due: pnpm nx affected:lint --fix, pnpm nx format:write

build: version 1.0.0
  package.json
Due: prettier --write

feat: obsidian like banner for article layout
  package.json
  src/components/Logo.astro
  src/components/TableOfContent.astro
  src/components/ToggleTheme.tsx
  src/components/navbar/Hamburger.astro
  src/components/navbar/Navbar.astro
  src/content/.obsidian/appearance.json
  src/content/.obsidian/workspace.json
  src/content/.obsidian/workspaces.json
  src/content/blog/first-post.md
  src/content/blog/fourth-post.md
  src/content/blog/second-post.md
  src/content/blog/third-post.md
  src/layouts/Article.astro
  src/pages/blog/[slug].astro
  src/styles/global.css
  src/styles/noise.css
Due: pnpm nx affected:lint --fix, pnpm nx format:write, prettier --write

chore: minor changes
  .eslintrc
  .eslintrc.cjs
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/Article/Article.astro
  src/components/Sections/ProfileSection.astro
  src/layouts/Head.astro
  src/layouts/Root.astro
  src/pages/index.astro
  src/styles/article.css
  tailwind.config.mjs
Due: pnpm nx affected:lint --fix, pnpm nx format:write, prettier --write

feat: tech stack section
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/Buttons/FillAnimated.astro
  src/components/ScrollList.astro
  src/components/Sections/ProfileSection.astro
  src/components/Sections/SectionHeading.astro
  src/components/Sections/TechStack.astro
  src/components/cards/ProfileImage.astro
  src/layouts/Head.astro
  src/layouts/Root.astro
  src/layouts/Scripts.astro
  src/lib/constants.ts
  src/pages/index.astro
  src/styles/article.css
  src/styles/global.css
Due: pnpm nx affected:lint --fix, pnpm nx format:write, prettier --write

perf: removed @playform/compress
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/Article/TableOfContent.astro
  src/components/Cards/SocialHandles.astro
  src/components/Scripts/ScrollList.astro
  src/components/Scripts/SmoothScroll.astro
  src/components/Sections/ProfileCards.astro
  src/components/cards/CurrentStatus.astro
  src/components/cards/GithubContributions.astro
  src/components/cards/ProfileImage.astro
  src/components/cards/Workflow.astro
  src/layouts/Root.astro
  src/pages/index.astro
Due: pnpm nx affected:lint --fix, pnpm nx format:write, prettier --write

perf: replaced getCollection with Astro.glob
  package.json
  pnpm-lock.yaml
  src/components/Article/Article.astro
  src/components/Blog/Description.astro
  src/components/Blog/PostCard.astro
  src/components/Blog/PostsGrid.astro
  src/components/Cards/FilterCloud.astro
  src/components/Navbar/Navbar.astro
  src/components/ReadMore.astro
  src/components/ScrollList.astro
  src/components/Sections/TechStack.astro
  src/content/index.ts
  src/layouts/Blog.astro
  src/lib/utils/strings.ts
  src/pages/blog/[sitemap].xml.ts
  src/pages/blog/[slug].astro
  src/pages/blog/index.astro
  src/pages/categories/[category].astro
  src/pages/categories/[sitemap].xml.ts
  src/pages/index.astro
  src/pages/rss.xml.ts
  src/pages/sitemap-index.xml.ts
  src/pages/tags/[sitemap].xml.ts
  src/pages/tags/[tag].astro
Due: pnpm nx affected:lint --fix, pnpm nx format:write, prettier --write

chore: og images
  .obsidian/workspace.json
  public/images/ankur.png
  public/images/ogbg.jpg
  public/images/ogimage.png
  public/images/siteog.jpg
  src/assets/ogimages/site_ogimage.png
  src/content/blog/welcome-to-my-website.md
  src/layouts/Head.astro
  src/lib/constants.ts
  src/pages/blog/[slug]/og.png.ts
Due: pnpm nx affected:lint --fix, pnpm nx format:write, prettier --write

fix: og images
  .obsidian/plugins/file-explorer-plus/data.json
  .obsidian/workspace.json
  src/content/blog/welcome-to-my-website.md
  src/pages/blog/[slug]/og.png.ts
  templates/post.md
Due: pnpm nx affected:lint --fix, pnpm nx format:write, prettier --write

fix: article banner position adjustment
  src/components/Article/Article.astro
  src/content/blog/welcome-to-my-website.md
  src/pages/blog/[slug]/og.png.ts
Due: pnpm nx affected:lint --fix, pnpm nx format:write, prettier --write

feat: added resume, updated footer links
  .obsidian/workspace.json
  public/resume/pdf.pdf
  src/components/Article/Article.astro
  src/components/Article/Category.astro
  src/components/Blog/PostCard.astro
  src/components/Cards/FilterCloud.astro
  src/components/Footer/Copyright.tsx
  src/components/Footer/Footer.astro
  src/components/Footer/FooterLinks.astro
  src/components/Navbar/Navbar.astro
  src/components/Sections/ProfileSection.astro
  src/content/blog/welcome-to-my-website.md
  src/pages/blog/[slug]/og.png.ts
  src/pages/categories/index.astro
  src/pages/rss.xml.ts
  src/pages/sitemap-index.xml.ts
  src/pages/tags/index.astro
Due: pnpm nx affected:lint --fix, pnpm nx format:write, prettier --write

Merging to master (#7)
  .obsidian/plugins/file-explorer-plus/data.json
  .obsidian/workspace.json
  public/images/ankur.png
  public/images/ogbg.jpg
  public/images/ogimage.png
  public/images/siteog.jpg
  public/resume/pdf.pdf
  src/assets/ogimages/site_ogimage.png
  src/components/Article/Article.astro
  src/components/Article/Category.astro
  src/components/Blog/PostCard.astro
  src/components/Cards/FilterCloud.astro
  src/components/Footer/Copyright.tsx
  src/components/Footer/Footer.astro
  src/components/Footer/FooterLinks.astro
  src/components/Navbar/Navbar.astro
  src/components/Sections/ProfileSection.astro
  src/content/blog/welcome-to-my-website.md
  src/layouts/Head.astro
  src/lib/constants.ts
  src/pages/blog/[slug]/og.png.ts
  src/pages/categories/index.astro
  src/pages/rss.xml.ts
  src/pages/sitemap-index.xml.ts
  src/pages/tags/index.astro
  templates/post.md
Due: pnpm nx affected:lint --fix, pnpm nx format:write, prettier --write

fix: most view posts reload after astro's viewtransition
  src/components/Cards/MostViewedPosts.astro
  src/components/PageFind.astro
  src/layouts/Blog.astro
  src/pages/index.astro
Due: pnpm nx affected:lint --fix, pnpm nx format:write, prettier --write

Dev (#8)
  src/components/Cards/MostViewedPosts.astro
  src/components/PageFind.astro
  src/layouts/Blog.astro
  src/pages/index.astro
Due: pnpm nx affected:lint --fix, pnpm nx format:write, prettier --write

fix: article banner position adjustment
  src/content/blog/welcome-to-my-website.md
Due: prettier --write

fix: og images
  .obsidian/workspace.json
  src/content/blog/welcome-to-my-website.md
Due: prettier --write

feat: added resume, updated footer links
  .obsidian/workspace.json
Due: prettier --write

fix: timeline card date
  src/components/Cards/TimelineCard.astro
Due: pnpm nx affected:lint --fix, pnpm nx format:write, prettier --write

fix: posts fetch fix in sitemap-index.xml
  src/pages/sitemap-index.xml.ts
Due: pnpm nx affected:lint --fix, pnpm nx format:write, prettier --write

fix: robots.txt sitemap link fix
  astro.config.mjs
Due: pnpm nx affected:lint --fix, pnpm nx format:write
